.button {
  display: inline-block;
  padding: $button-pad-y $button-pad-x;
  padding: var(--button-pad-y, $button-pad-y) var(--button-pad-x, $button-pad-x);
  border: $button-border-width solid $button-border-color;
  border: var(--button-border-width, $button-border-width) solid var(--button-border-color, $button-border-color);
  background-color: transparent;
  outline: none;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  min-width: $button-min-width;

  &borderless {
    border: none;
  }

  &:hover {
    background-color: mix(black, white, $dark-hover-overlay);
    background-color: rgba(0, 0, 0, $dark-hover-overlay/100%);
  }

  &:focus {
    background-color: mix(black, white, $dark-focused-overlay);
    background-color: rgba(0, 0, 0, $dark-focused-overlay/100%);
  }

  &:active {
    background-color: mix(black, white, $dark-selected-overlay);
    background-color: rgba(0, 0, 0, $dark-selected-overlay/100%);
  }

  &.primary{
    color: white;
    background-color: blue;

    &:hover {
      background-color: mix(black, blue, $dark-hover-overlay);
      background-color: rgba(0, 0, 0, $dark-hover-overlay/100%);
    }

    &:focus {
      background-color: mix(black, blue, $dark-focused-overlay);
      background-color: rgba(0, 0, 255, $dark-focused-overlay/100%);
    }

    &:active {
      background-color: mix(black, blue, $dark-selected-overlay);
      background-color: rgba(0, 0, 255, $dark-selected-overlay/100%);
    }
  }
}
