.card {
  transition: 0.3s;
  background-color: $card-background-color;
  background-color: var(--card-background-color, $card-background-color);
  border: $card-border-width solid $card-border-color;
  border: var(--card-border-width, $card-border-width) solid var(--card-border-color, $card-border-color);
  position: relative;
  min-width: 0;
  word-wrap: break-word;

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  &:hover {
    box-shadow: $card-hover-shadow;
  }

  .content{
    padding: $card-pad-y $card-pad-x;
    padding: var(--card-pad-y, $card-pad-y) var(--card-pad-x, $card-pad-x);
  }
}
