.card {
  border: $card-border-width solid $card-border-color;
  border: var(--card-border-width, $card-border-width) solid var(--card-border-color, $card-border-color);
  border-radius: 0.125rem;
  max-width: 100%;
  position: relative;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  .content{
    padding: $card-pad-y $card-pad-x;
    padding: var(--card-pad-y, $card-pad-y) var(--card-pad-x, $card-pad-x);
  }

  .title  {
    font-weight: 700;
    padding: 0.75rem 1rem;
  }

  .image {
    display: block;
    position: relative;
  }

  .footer {
    border-top: 1px solid gray;
    
    .item {
      display: block;
      float: left;
    }
  }
}
