.checkbox {
  -webkit-appearance: none;
  background-color: var(--button-background-color, $button-background-color);
  width: 1rem;
  height: 1rem;
  border: 1px solid lightgray;
  position: relative;

  &:before {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: inherit;
    padding: inherit;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:checked:before {
    content: "\2713";
  }
}
