/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid lightgray;
  -webkit-appearance: none;
  appearance: none;
  transition: any 0.15s ease-in-out;
  outline: 0;
  border-radius: 2px;

  &[type=file] {
    overflow: hidden;
    cursor: pointer;

    &:disabled, &[readonly] {
      cursor: auto;
    }
  }
}

.label {
  margin-bottom: 8px;
}

.col-label {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-label-lg {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 20px;
}

.col-label-sm {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.text {
  margin-top: 4px;
  font-size: 0.875em;
  color: #6c757d;
}

.input {
  &:focus {
    border-color: lightskyblue;
  }

  &::file-selector-button {
    padding: 6px 12px;
    margin: -6px -12px;
    margin-inline-end: 12px;
    background-color: transparent;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: all 0.15s ease-in-out;
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #ededed;
    background-color: rgba(0, 0, 0, 0.07);
  }

  &::-webkit-file-upload-button {
    padding: 6px 12px;
    margin: -6px -12px;
    margin-inline-end: 12px;
    background-color: transparent;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: all 0.15s ease-in-out;
  }

  &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #ededed;
    background-color: rgba(0, 0, 0, 0.07);
  }
}

.input-sm {
  font-size: 0.75em;
}

.input-lg {
  font-size: 1.25em;
}
