.image {
  max-width: 100%;
  height: auto;
}

.thumbnail {
  border: $thumbnail-border-width solid $thumbnail-border-color;
  border: var(--thumbnail-border-width, $thumbnail-border-width) solid var(--thumbnail-border-color, $thumbnail-border-color);
  padding: $thumbnail-pad;
  padding: var(--thumbnail-pad, $thumbnail-pad);
}
