.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;

  .item {
    padding: $navbar-pad-y $navbar-pad-x;
    padding: var(--mh-navbar-pad-y, $navbar-pad-y) var(--mh-navbar-pad-x, $navbar-pad-x);
    width: auto;
    border: none;
    display: inline-block;
    outline: 0
  }

  &:before,
  &:after {
    content: "";
    display: table;
    clear: both
  }
}
