.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  .item {
    padding: $navbar-pad-y $navbar-pad-x;
    padding: var(--mh-navbar-pad-y, $navbar-pad-y) var(--mh-navbar-pad-x, $navbar-pad-x);
    border: none;
    display: block;
    float: none;
    outline: 0;
    text-decoration: none;
  }

  &.default .item{
    float: left;
  }

  &.bordered .item{
    border-right: 1px solid gray;
  }

  &.sticky {
    position: sticky;
  }

  &.fixed {
    position: fixed;
  }

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.right {
    right: 0;
  }
  
  &.left {
    left: 0;
  }

  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@each $name, $breakpoint in $breakpoints{
  @if $name != "" {
    .navbar-#{$name} .item {
      float: left;
    }
  }
}
