.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  .item {
    padding: $navbar-pad-y $navbar-pad-x;
    padding: var(--mh-navbar-pad-y, $navbar-pad-y) var(--mh-navbar-pad-x, $navbar-pad-x);
    border: none;
    display: block;
    float: left;
    outline: 0;
    text-decoration: none;
  }

  &.bordered .item{
    border-right: 1px solid gray;
  }

  .top-fixed {
  }

  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
