.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.375rem 0.75rem;
  padding: var(--pagination-pad-y, 0.375rem) var(--pagination-pad-x, 0.75rem);
  color: #0d6efd;
  color: var(--pagination-color, #0d6efd);
  text-decoration: none;
  text-decoration: var(--link-decoration, none);
  background-color: transparent;
  background-color: var(--pagination-bg, transparent);
  border: 1px solid #dee2e6;
  border: var(--pagination-border-width, 1px) solid
    var(--pagination-border-color, #dee2e6);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: var(
    --pagination-transition,
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out
  );

  &:hover {
    z-index: 2;
    color: #0a58ca;
    color: var(--pagination-hover-color, #0a58ca);
    background-color: #e9ecef;
    background-color: var(--pagination-hover-bg, #e9ecef);
  }

  &:focus {
    z-index: 3;
    color: #0a58ca;
    color: var(--pagination-focus-color, #0a58ca);
    background-color: #e9ecef;
    background-color: var(--pagination-focus-bg, #e9ecef);
    border-color: #dee2e6;
    border-color: var(--pagination-border-color, #dee2e6);
  }
}

.page-item {
  &:not(:first-child) .page-link {
    margin-left: -1px;
    margin-left: var(--pagination-margin-start, -1px);
  }

  &.active .page-link {
    z-index: 3;
    color: transparent;
    color: var(--pagination-active-color, transparent);
    background-color: #0d6efd;
    background-color: var(--pagination-active-bg, #0d6efd);
    border-color: #0d6efd;
    border-color: var(--pagination-active-border-color, #0d6efd);
  }

  &.disabled .page-link {
    color: #6c757d;
    color: var(--pagination-disabled-color, #6c757d);
    pointer-events: none;
    background-color: transparent;
    background-color: var(--pagination-disabled-bg, transparent);
    border-color: #dee2e6;
    border-color: var(--pagination-disabled-border-color, #dee2e6);
  }
}

//
// Sizing
//

@mixin pagination-size(
  $padding-y,
  $padding-x,
  $font-size,
  $border-radius,
  $infix
) {
  .page-link {
    padding: $padding-y $padding-x;
    padding: var(--pagination-padding-y + $infix, $padding-y)
      var(--pagination-padding-y + $infix, $padding-x);
    font-size: $font-size;
    font-size: var(--font-size + $infix, $font-size);
  }

  .page-item {
    &:first-child {
      .page-link {
        border-top-left-radius: $border-radius;
        border-top-left-radius: var(--border-radius + $infix, $border-radius);
        border-bottom-left-radius: $border-radius;
        border-bottom-left-radius: var(
          --border-radius + $infix,
          $border-radius
        );
      }
    }

    &:last-child {
      .page-link {
        border-top-right-radius: $border-radius;
        border-top-right-radius: var(--border-radius + $infix, $border-radius);
        border-bottom-right-radius: $border-radius;
        border-bottom-right-radius: var(
          --border-radius + $infix,
          $border-radius
        );
      }
    }
    //Add border-radius to all pageLinks in case they have left margin
    .page-link {
      border-radius: $border-radius;
      border-radius: var(--border-radius + $infix, $border-radius);
    }
  }
}

@include pagination-size(
  $pagination-padding-y,
  $pagination-padding-x,
  null,
  $pagination-border-radius,
  null
);

.pagination-lg {
  @include pagination-size(
    $pagination-padding-y-lg,
    $pagination-padding-x-lg,
    $font-size-lg,
    $pagination-border-radius-lg,
    lg
  );
}

.pagination-sm {
  @include pagination-size(
    $pagination-padding-y-sm,
    $pagination-padding-x-sm,
    $font-size-sm,
    $pagination-border-radius-sm,
    sm
  );
}
