.select {  
  padding: $select-pad-y $select-pad-x;
  padding: var(--select-pad-y, $select-pad-y) var(--select-pad-x, $select-pad-x);
  appearance: none;
  border: $select-border-width solid $select-border-color;
  border: var(--select-border-width, $select-border-width) solid
    var(--select-border-color, $select-border-color);
  min-width: $select-min-width;
  max-width: $select-max-width;

  &:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
