//
// Rotating border
//

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  width: var(--spinner-width, 2rem);
  height: 2rem;
  height: var(--spinner-height, 2rem);
  vertical-align: text-bottom;
  border: 0.25em-width solid currentColor;
  border: var(--spinner-border-width, 0.25em) solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
  animation: var(--spinner-animation-speed, 0.75s) linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1rem;
  width: var(--spinner-width-sm, 1rem);
  height: 1rem;
  height: var(--spinner-height-sm, 1rem);
  border-width: 0.25em;
  border-width: var(--spinner-border-width-sm, 0.25em);
}

//
// Growing circle
//

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  width: var(--spinner-width, 2rem);
  height: 2rem;
  height: var(--spinner-height, 2rem);
  vertical-align: text-bottom;
  background-color: currentColor;
  // stylelint-disable-next-line property-disallowed-list
  border-radius: 50%;
  opacity: 0;
  animation: 0.75s linear infinite spinner-border;
  animation: var(--spinner-animation-speed, 0.75s) linear infinite spinner-grow;
}

.spinner-grow-sm {
  width: 1rem;
  width: var(--spinner-width-sm, 1rem);
  height: 1rem;
  height: var(--spinner-height-sm, 1rem);
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border,
  .spinner-grow {
    animation-duration: $spinner-animation-speed * 2;
  }
}
