.check-label {
  cursor: pointer;
  user-select: none;

  input {
    width: 0;
    height: 0;
    margin: 0;

    &:checked ~ .custom-check .check{
      display: block;
    }

    &:indeterminate ~ .custom-check .ind{
      display: block;
    }
  }

  .custom-check{
    width: $checkbox-width;
    width: var(--checkbox-width, $checkbox-width);
    height: $checkbox-height;
    height: var(--checkbox-height, $checkbox-height);
    border: $checkbox-border-width solid $checkbox-border-color;
    border: var(--checkbox-border-width, $checkbox-border-width) solid
      var(--checkbox-border-color, $checkbox-border-color);
  }

  .mark {
    display: none;
    width: 100%;
    height: 100%;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    user-select: none;
    line-height: 1rem;
    font-size: 65%;
    text-align: center;
  }
  .check-mark {
    background-image: url("data:image/svg+xml,#{$checkbox-checked-icon}");
  }
  .ind-mark {
    background-image: url("data:image/svg+xml,#{$checkbox-indeterminate-icon}");
  }
}
