.radio-label {
  cursor: pointer;
  user-select: none;

  input {
    width: 0;
    height: 0;
    margin: 0;

    &:checked ~ .radio .mark{
      display: block;
    }
  }

  .radio{
    width: 1.125rem;
    width: var(--radio-width, 1.125rem);
    height: 1.125rem;
    height: var(--radio-height, 1.125rem);
    border: $radiobutton-border-width solid $radiobutton-border-color;
    border: var(--radiobutton-border-width, $radiobutton-border-width) solid
      var(--radiobutton-border-color, $radiobutton-border-color);
    border-radius: 50%;
  }

  .mark {
    display: none;
    width: 50%;
    height: 50%;
    background-color: gray;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    user-select: none;
    line-height: 1rem;
    font-size: 100%;
    text-align: center;
  }
}
