.file {
  width: 0;
  height: 0;
  margin: 0;
}

.input {
  appearance: none;
  background-color: transparent;
  box-shadow: none;
  height: 3.8rem;
  padding: $input-pad-y $input-pad-x;
  padding: var(--input-pad-y, $input-pad-y) var(--input-pad-x, $input-pad-x);
  border: $input-border-width solid $input-border-color;
  border: var(--input-border-width, $input-border-width) solid var(--input-border-color, $input-border-color);
  font-size: $input-font-size;
  font-size: var(--input-font-size, $input-font-size);
  width: 100%;
  outline: none;
}

.input:focus {
  border-color: lightblue;
}

.select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}

.select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>');
}

.select[multiple] {
  background: none;
  height: auto;
}

textarea.input {
  min-height: 6.5rem;
}

.label,
.legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.fieldset {
  border-width: 0;
  padding: 0;
}
