/// Grid system
//
// Generate semantic grid columns with these mixins.

@mixin make-col($size, $columns: $columns) {
  flex: 0 0 auto;
  width: percentage($size / $columns);
}

@mixin make-col-auto() {
  flex: 0 0 auto;
  width: auto;
}

@mixin make-col-offset($size, $columns: $columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}

// Row columns
//
// Specify on a parent element(e.g., .row) to force immediate children into NN
// numberof columns. Supports wrapping to new lines, but does not do a Masonry
// style grid.
@mixin row-cols($count) {
  > * {
    flex: 0 0 auto;
    width: 100% / $count;
  }
}

@mixin media($infix, $breakpoint) {
  @if $infix {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @content;
  }
}
