 
.background-repeat-x{
  background-repeat: repeat-x;
}

.background-repeat-x{
  background-repeat: repeat-;
}

.no-background-repeat{
  background-repeat: no-repeat;
}

.fixed-background{
  background-attachment: fixed;
}

.scroll-background{
  background-attachment: scroll;
}
