@each $name, $hex in $colors {
  .#{$name}-background {
    background-color: $hex;
  }
  .#{$name}-text {
    color: $hex;
  }
  .#{$name}-border {
    border-color: $hex;
  }
  .hover-#{$name}-background:hover {
    background-color: $hex;
  }
  .hover-#{$name}-text:hover {
    color: $hex;
  }
  .hover-#{$name}-border:hover {
    border-color: $hex;
  }
  .focus-#{$name}-background:focus {
    background-color: $hex;
  }
  .focus-#{$name}-text:focus {
    color: $hex;
  }
  .focus-#{$name}-border:focus {
    border-color: $hex;
  }
  .active-#{$name}-background:active {
    background-color: $hex;
  }
  .active-#{$name}-text:active {
    color: $hex;
  }
  .active-#{$name}-border:active {
    border-color: $hex;
  }
}
