@use "sass:string";

@function name-class($class-prefix, $key) {
  @if $key == null or $key == '' {
    @return $class-prefix;
  }

  @if key == '-' {
    @return '-' + $class-prefix;
  }

  @if type-of($key) == string and string.slice($key, 0, 1) == '-' {
    @return '-' + $class-prefix + $key;
  }

  @if type-of($key) == number and $key < 0 {
    @return '-' + $class-prefix + $key;
  }

  @return $class-prefix + '-' + $key;
}
