.btn {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  padding: var(--pad-x, 0.5rem) var(--pad-y, 0.5rem);
  color: black;
  color: var(--color, black);
  background-color: transparent;
  background-color: var(--bg-color, transparent);
  border: 1px solid #d9d9d9;
  border: var(--border-width, 1px) solid var(--border-color, #d9d9d9);
  outline: none;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  transition: all 0.15s ease-in-out;
  vertical-align: middle;
  border-radius: 2px;
  border-radius: var(--border-radius, 2px);

  &:hover {
    background-color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.05);
    background-color: var(--hover-bg-color, rgba(0, 0, 0, 0.05));
  }

  &:focus, &:active, &.active {
    background-color: #e6e6e6;
    background-color: rgba(0, 0, 0, 0.10);
    background-color: var(--active-bg-color, rgba(0, 0, 0, 0.10));
  }
}
