/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn {
    display: inline-block;
    padding: 0.5em 1em; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    color: black; /* Add a text color */
    background-color: transparent; /* Add a background color */
    border: 1px solid transparent;  /* Set border to invisible */
    border-radius: 4px; /* Rounded border */
    outline: none; /* Remove border on select */
    -webkit-user-select: none; /* Disable Select */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    margin-bottom: 1em; /* Set bottom margin */
    text-align: center; /* Align Text of btn */
    transition: background-color 0.15s ease-in-out;  /* Add background color transition */
}

/* disable transition for devices prefers reduced motion */
@media (prefers-reduced-motion: reduce) {

    .btn {
        transition: none;
    }
}

/* Firefox: Get rid of the inner focus border */

.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn:hover {
    background-color: #ebebeb;
    background-color: rgba(158, 158, 158, 0.2);
}

.btn:focus {
    background-color: #e0e0e0;
    background-color: rgba(0, 0, 0, 0.12);
}

.btn.primary {
    color: #fff;
    background-color: #00f;
}

.btn.primary:hover {
    background-color: #0000e6;
}

.btn.primary:focus {
    background-color: #00c;
}

.block {
    display: block;
    width: 100%;
}
