/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.input {
    height: 38px;
    padding: 0.25em 0.5em;
    background-color: transparent;
    color: black;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 1em;
    outline: 0;
    transition: border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {

    .input {
        transition: none;
    }
}

input[type="date"].input,
input[type="time"].input,
input[type="datetime-local"].input,
input[type="month"].input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input::-ms-expand {
    background-color: transparent;
    border: 0;
}

.input:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
}

textarea.input {
    height: auto;
    resize: vertical;
}

.input:focus {
    border-color: #33c3f0;
    outline: 0;
}

.label,
.legend {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.fieldset {
    padding: 0;
    border-width: 0;
}

input.input[type="checkbox"],
input.input[type="radio"] {
    display: inline;
}

.label > .label-body {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: normal;
}
