/* Good for header, footer or body. */

.container,
.container-fluid,
.panel {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.panel {
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (min-width: 576px) {

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1140px;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-1-sm,
.col-2-sm,
.col-3-sm,
.col-4-sm,
.col-5-sm,
.col-6-sm,
.col-7-sm,
.col-8-sm,
.col-9-sm,
.col-10-sm,
.col-11-sm,
.col-12-sm {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 100%;
}

.col-1-sm {
    width: 8.33%;
}

.col-2-sm {
    width: 16.66%;
}

.col-3-sm {
    width: 21%;
}

.col-4-sm {
    width: 33.33%;
}

.col-5-sm {
    width: 37.66%;
}

.col-6-sm {
    width: 46%;
}

.col-7-sm {
    width: 58.33%;
}

.col-8-sm {
    width: 62.66%;
}

.col-9-sm {
    width: 71%;
}

.col-10-sm {
    width: 83.33%;
}

.col-11-sm {
    width: 87.66%;
}

.col-12-sm {
    width: 96%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

@media only screen and (min-width: 576px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 21%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 37.66%;
    }

    .col-6 {
        width: 46%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 62.66%;
    }

    .col-9 {
        width: 71%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 87.66%;
    }

    .col-12 {
        width: 96%;
    }

    .hidden-sm {
        display: block;
    }
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.ul {
    list-style: circle inside;
}

.ol {
    list-style: decimal inside;
}

.ol,
.ul {
    padding-left: 0;
    margin-top: 0;
}

.ul ul,
.ul ol,
.ol ol,
.ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

.li,
.ol li,
.ul li {
    margin-bottom: 1rem;
}

.image {
    max-width: 100%;
    height: auto;
}
