/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.table-container {
    overflow-x: auto; /* make it responsive */
}

.table {
    display: table;
    background-color: transparent; /* Add a background color */
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    empty-cells: show;
    margin-bottom: 1em;
}

.table tr {
    border-bottom: 1px solid lightgray;
}

.table th,
.table td {
    text-align: left;
    padding: 0.75em 0.75em;
    display: table-cell;
    vertical-align: top;
}

.table th:first-child,
.table td:first-child {
    padding-left: 1em;
}
