@each $name, $hex in $colors {
  .#{$name}-background {
    background-color: $hex;
  }
  .#{$name}-text {
    color: $hex;
  }
  .#{$name}-border {
    border-color: $hex;
  }
  .#{$name}-hover-background:hover {
    background-color: color-lightness($hex, $hover-color-darken-percentage);
  }
  .#{$name}-hover-text:hover {
    color: color-lightness($hex, $hover-color-darken-percentage);
  }
  .#{$name}-hover-border:hover {
    border-color: color-lightness($hex, $hover-color-darken-percentage);
  }
  .#{$name}-focus-background:focus {
    background-color: color-lightness($hex, $hover-color-darken-percentage);
  }
  .#{$name}-focus-text:focus {
    color: color-lightness($hex, $hover-color-darken-percentage);
  }
  .#{$name}-focus-border:focus {
    border-color: color-lightness($hex, $hover-color-darken-percentage);
  }
}
