@use "plugins/background-color" as *;
@use "plugins/background-image" as *;
@use "plugins/background-opacity" as *;
@use "plugins/box-sizing" as *;
@use "plugins/display" as *;
@use "plugins/gradient-color-stops" as *;
@use "plugins/position" as *;
@use "plugins/text-color" as *;
@use "plugins/text-opacity" as *;

$plugins: (
    background-color: $background-color-plugin,
    background-image: $background-image-plugin,
    background-opacity: $background-opacity-plugin,
    box-sizing: $box-sizing-plugin,
    display: $display-plugin,
    gradient-color-stops: $gradient-color-stops-plugin,
    position: $position-plugin,
    text-color: $text-color-plugin,
    text-opacity: $text-opacity-plugin,
);
