@use "colors" as *;

$presets: null !default;

$prefix: mh !default; // required

$dark-mode: false !default;

$separator: "\\:" !default;

$_theme: map-remove((x: x,), x);

$_theme: map-merge(
    $_theme,
    (colors: $colors,)
);

$_theme: map-merge(
    $_theme,
    (opacity: (
        0: '0',
        5: '0.05',
        10: '0.1',
        20: '0.2',
        25: '0.25',
        30: '0.3',
        40: '0.4',
        50: '0.5',
        60: '0.6',
        70: '0.7',
        75: '0.75',
        80: '0.8',
        90: '0.9',
        95: '0.95',
        100: '1',
    ),)
);

$_theme: map-merge(
    $_theme,
    (screens: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        xxl: 1536px,
    ),)
);

$_theme: map-merge(
    $_theme,
    (colors: $colors,)
);

$_theme: map-merge(
    $_theme,
    (text-color: map-get($_theme, colors),)
);

$_theme: map-merge(
    $_theme,
    (text-opacity: map-get($_theme, opacity),)
);

$_theme: map-merge(
    $_theme,
    (background-color: map-get($_theme, colors),)
);

$_theme: map-merge(
    $_theme,
    (background-opacity: map-get($_theme, opacity),)
);

$_theme: map-merge(
    $_theme,
    (background-image: (
      null: 'none',
      'gradient-to-t': 'linear-gradient(to top, var(--#{$prefix}-gradient-stops))',
      'gradient-to-tr': 'linear-gradient(to top right, var(--#{$prefix}-gradient-stops))',
      'gradient-to-r': 'linear-gradient(to right, var(--#{$prefix}-gradient-stops))',
      'gradient-to-br': 'linear-gradient(to bottom right, var(--#{$prefix}-gradient-stops))',
      'gradient-to-b': 'linear-gradient(to bottom, var(--#{$prefix}-gradient-stops))',
      'gradient-to-bl': 'linear-gradient(to bottom left, var(--#{$prefix}-gradient-stops))',
      'gradient-to-l': 'linear-gradient(to left, var(--#{$prefix}-gradient-stops))',
      'gradient-to-tl': 'linear-gradient(to top left, var(--#{$prefix}-gradient-stops))',
    ),)
);

$_theme: map-merge(
    $_theme,
    (gradient-color-stops: map-get($_theme, colors),)
);

$theme: $_theme !default;

$variant-order: (
  first,
  last,
  odd,
  even,
  visited,
  checked,
  group-hover,
  group-focus,
  focus-within,
  hover,
  focus,
  focus-visible,
  active,
  disabled,
) !default;

$variants: (
    background-color: default responsive,
    background-image: default responsive,
    background-opacity: default responsive,
    box-sizing: default responsive,
    display: default responsive,
    position: default responsive,
    text-color: default responsive,
    text-opacity: default responsive,
) !default;
