@use "colors" as *;

@function negative-map($map) {
  $result: ();
  @each $key, $value in $map {
    @if $value != 0 {
      $result: map-merge($result, ("-" + $key: (-$value)));
    }
  }
  @return $result;
}

$presets: null !default;

$prefix: mh !default; // required

$dark-mode: false !default;

$separator: "\\:" !default;

$opacity: (
  0: "0",
  5: "0.05",
  10: "0.1",
  20: "0.2",
  25: "0.25",
  30: "0.3",
  40: "0.4",
  50: "0.5",
  60: "0.6",
  70: "0.7",
  75: "0.75",
  80: "0.8",
  90: "0.9",
  95: "0.95",
  100: "1",
) !default;

$_theme: map-remove(
  (
    x: x,
  ),
  x
);

$_theme: map-merge(
  $_theme,
  (
    screens: (
      sm: 640px,
      md: 768px,
      lg: 1024px,
      xl: 1280px,
      xxl: 1536px,
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    colors: $colors,
  )
);

$_theme: map-merge(
  $_theme,
  (
    spacing: (
      px: 1px,
      0: 0px,
      "0\\.5": 0.125rem,
      1: 0.25rem,
      "1\\.5": 0.375rem,
      2: 0.5rem,
      "2\\.5": 0.625rem,
      3: 0.75rem,
      "3\\.5": 0.875rem,
      4: 1rem,
      5: 1.25rem,
      6: 1.5rem,
      7: 1.75rem,
      8: 2rem,
      9: 2.25rem,
      10: 2.5rem,
      11: 2.75rem,
      12: 3rem,
      14: 3.5rem,
      16: 4rem,
      20: 5rem,
      24: 6rem,
      28: 7rem,
      32: 8rem,
      36: 9rem,
      40: 10rem,
      44: 11rem,
      48: 12rem,
      52: 13rem,
      56: 14rem,
      60: 15rem,
      64: 16rem,
      72: 18rem,
      80: 20rem,
      96: 24rem,
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    animation: (
      none: 'none',
      spin: 'spin 1s linear infinite',
      ping: 'ping 1s cubic-bezier(0, 0, 0.2, 1) infinite',
      pulse: 'pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite',
      bounce: 'bounce 1s infinite',
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    background-color: map-get($_theme, colors),
  )
);

$_theme: map-merge(
  $_theme,
  (
    background-image: (
      none: "none",
      "gradient-to-t":
        "linear-gradient(to top, var(--#{$prefix}-gradient-stops))",
      "gradient-to-tr":
        "linear-gradient(to top right, var(--#{$prefix}-gradient-stops))",
      "gradient-to-r":
        "linear-gradient(to right, var(--#{$prefix}-gradient-stops))",
      "gradient-to-br":
        "linear-gradient(to bottom right, var(--#{$prefix}-gradient-stops))",
      "gradient-to-b":
        "linear-gradient(to bottom, var(--#{$prefix}-gradient-stops))",
      "gradient-to-bl":
        "linear-gradient(to bottom left, var(--#{$prefix}-gradient-stops))",
      "gradient-to-l":
        "linear-gradient(to left, var(--#{$prefix}-gradient-stops))",
      "gradient-to-tl":
        "linear-gradient(to top left, var(--#{$prefix}-gradient-stops))",
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    background-opacity: $opacity,
  )
);

$_theme: map-merge(
  $_theme,
  (
    background-position: (
      bottom: "bottom",
      center: "center",
      left: "left",
      "left-bottom": "left bottom",
      "left-top": "left top",
      right: "right",
      "right-bottom": "right bottom",
      "right-top": "right top",
      top: "top",
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    background-size: (
      auto: "auto",
      cover: "cover",
      contain: "contain",
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    border-color: map-merge((null: gray,), map-get($_theme, colors)),
  )
);

$_theme: map-merge(
  $_theme,
  (
    border-opacity: $opacity,
  )
);

$_theme: map-merge(
  $_theme,
  (
    border-radius: (
      none: '0px',
      sm: '0.125rem',
      null: '0.25rem',
      md: '0.375rem',
      lg: '0.5rem',
      xl: '0.75rem',
      2xl: '1rem',
      3xl: '1.5rem',
      full: '9999px',
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    border-width: (
      null: '1px',
      0: '0px',
      2: '2px',
      4: '4px',
      8: '8px',
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    box-shadow: (
      sm: '0 1px 2px 0 rgba(0, 0, 0, 0.05)',
      DEFAULT: '0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)',
      md: '0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)',
      lg: '0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)',
      xl: '0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)',
      '2xl': '0 25px 50px -12px rgba(0, 0, 0, 0.25)',
      inner: 'inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)',
      none: 'none',
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    cursor: (
      auto: 'auto',
      default: 'default',
      pointer: 'pointer',
      wait: 'wait',
      text: 'text',
      move: 'move',
      help: 'help',
      'not-allowed': 'not-allowed',
    ),
  )
);

$_theme: map-merge($_theme, (divide-color: map-get($_theme, border-color),));

$_theme: map-merge($_theme, (divide-opacity: map-get($_theme, border-opacity),));

$_theme: map-merge($_theme, (divide-width: map-get($_theme, border-width),));

$_theme: map-merge(
  $_theme,
  (
    flex: (
      1: '1 1 0%',
      auto: '1 1 auto',
      initial: '0 1 auto',
      none: 'none',
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    flex-grow: (
      0: '0',
      null: '1',
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    flex-shrink: (
      0: '0',
      null: '1',
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    font-family: (
      sans:
        unquote(
          'ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
        ),
      serif: unquote('ui-serif, Georgia, Cambria, "Times New Roman", Times, serif'),
      mono:
        unquote(
          'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace'
        ),
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    font-size: (
      xs:    "0.75rem",
      sm:    "0.875rem",
      base:  "1rem",
      lg:    "1.125rem",
      xl:    "1.25rem",
      "2xl": "1.5rem",
      "3xl": "1.875rem",
      "4xl": "2.25rem",
      "5xl": "3rem",
      "6xl": "3.75rem",
      "7xl": "4.5rem",
      "8xl": "6rem",
      "9xl": "8rem",
    ),
    font-line-height: (
      xs:   "1rem",
      sm:   "1.25rem",
      base: "1.5rem",
      lg:   "1.75rem",
      xl:   "1.75rem",
      "2xl":"2rem",
      "3xl":"2.25rem",
      "4xl":"2.5rem",
      "5xl":"1",
      "6xl":"1",
      "7xl":"1",
      "8xl":"1",
      "9xl":"1"
    ),
  )
);

$_theme: map-merge($_theme, (opacity: $opacity,));

$_theme: map-merge(
  $_theme,
  (
    object-position: (
      bottom: bottom,
      center: center,
      left: left,
      left-bottom: left bottom,
      left-top: left top,
      right: right,
      right-bottom: right bottom,
      right-top: right top,
      top: top,
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    z-index: (
      auto: "auto",
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      6: 6,
      7: 7,
      8: 8,
      9: 9,
      10: 10,
      20: 20,
      30: 30,
      40: 40,
      50: 50,
    ),
  )
);

$_theme: map-merge(
  $_theme,
  (
    text-color: map-get($_theme, colors),
  )
);

$_theme: map-merge(
  $_theme,
  (
    text-opacity: map-get($_theme, opacity),
  )
);

$_theme: map-merge(
  $_theme,
  (
    gradient-color-stops: map-get($_theme, colors),
  )
);

$theme: $_theme !default;

$variant-order: (
  first,
  last,
  odd,
  even,
  visited,
  checked,
  group-hover,
  group-focus,
  focus-within,
  hover,
  focus,
  focus-visible,
  active,
  disabled
) !default;

$variants: (
  background-color: default responsive,
  background-image: default responsive,
  background-opacity: default responsive,
  box-sizing: default responsive,
  display: default responsive,
  position: default responsive,
  text-color: default responsive,
  text-opacity: default responsive,
) !default;
