.input {
  padding: 0.375rem 0.75rem;
  display: inline-block;
  border: 2px solid lightgray;
  background-color: transparent;
  outline: 0;
  min-width: 13.125rem;
}

.select {
  // Normalizes the height; padding is not sufficient. */
  height: 1.75rem;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  border: 2px solid lightgray;
  background-color: transparent;
  vertical-align: middle;
  outline: 0;
  min-width: 13.125rem;
}

.select[multiple] {
  height: auto;
}

textarea.input {
  min-height: 6.5rem;
}

.label,
.legend {
  display: block;
  font-weight: 700;
  margin-bottom: .5rem;
}

.fieldset {
  border-width: 0;
  padding: 0;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

.file-label,
.radio-label,
.check-label {
  display: inline-block;
  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 0;
  }
}

.radio-label,
.check-label {
  .mark {
    width: 100%;
    height: 100%;
    display: none;
  }
}

.check-label {
  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 0;

    &:checked ~ .custom .check{
      display: block;
    }

    &:indeterminate ~ .custom .ind{
      display: block;
    }
  }

  .custom {
    width: 1rem;
    height: 1rem;
    border: 2px solid lightgray;
    display: inline-block;
  }
}

.radio-label {
  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 0;

    &:checked ~ .custom .mark{
      display: block;
    }
  }

  .custom {
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 2px solid lightgray;
    border-radius: 50%;
    display: inline-block;
  }

  .radio-ball {
    position: absolute;
    background-color: gray;
    width: 50%;
    height: 50%;
    top: 25%;
    top: 25%;
    border-radius: 50%;
  }
}

.input:focus,
.select:focus,
.radio-label .custom:focus,
.check-label .custom:focus,
.file-label .custom:focus {
  border-color: lightblue;
}
