.input {
  padding: 0.375rem 0.75rem;
  display: inline-block;
  border: 1px solid lightgray;
  background-color: transparent;
  outline: 0;
}

.select {
  // Normalizes the height; padding is not sufficient. */
  height: 1.75rem;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  border: 1px solid lightgray;
  background-color: transparent;
  vertical-align: middle;
  outline: 0;
}
