@mixin media($name, $breakpoint) {
  @if $name != "" {
    @media (min-width: #{$breakpoint}) { @content; }
  }
  @else {
    @content;
  }
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: 0.75rem;
  padding-right: var(--gutter-x, 0.75rem);
  padding-left: 0.75rem;
  padding-left: var(--gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;

  > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  &::after, &::before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@each $name, $breakpoint in $breakpoints{
  @include media($name, $breakpoint){
  .col#{$name} {
    flex: 1 0 0%;
  }
  .row-cols#{$name}-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  @for $i from 1 through $row-columns {
    .row-cols#{$name}-#{$i} > * {
      flex: 0 0 auto;
      width: 100*$i/$columns;
    }
  }
  .col#{$name}-auto {
    flex: 0 0 auto;
    width: auto;
  }
  @if $name!=""{
    .offset#{$name}-0 {
      margin-left: 0;
    }
  }
  @for $i from 1 through $columns {
    .col#{$name}-#{$i} {
      flex: 0 0 auto;
      width: 100*$i/$columns;
    }
    .offset#{$name}-#{$i} {
      margin-left: 100*$i/$columns;
    }
  }
  @each $i, $gutter in $gutters {
    .g#{$name}-#{$i},
    .gx#{$name}-#{$i}{
      margin-left: -$gutter/2;
      margin-right: -$gutter/2;
    }
    .g#{$name}-#{$i} > *,
    .gx#{$name}-#{$i} > *{
      padding-left: $gutter/2;
      padding-right: $gutter/2;
    }
    .g#{$name}-#{$i},
    .gy#{$name}-#{$i}{
      margin-top: -$gutter;
    }
    .g#{$name}-#{$i} > *,
    .gy#{$name}-#{$i} > *{
      margin-top: $gutter;
    }
  }
}}
