.button,
.check-label .custom,
.radio-label .custom,
.input,
.onhover:hover,
.hover,
.onfocus:focus,
.focused,
.onpress:active,
.pressed,
.onselect:checked,
.onselect\:after:checked ~ *,
.selected,
.activated,
.onhover-dark:hover,
.hover-dark,
.onfocus-dark:focus,
.focused-dark,
.onpress-dark:active,
.pressed-dark,
.onselect-dark:checked,
.onselect\:after-dark:checked,
.selected-dark,
.activated-dark,
.onhover-image:hover,
.hover-image,
.onfocus-image:focus,
.focused-image,
.onpress-image:active,
.pressed-image,
.onselect-image:checked,
.onselect\:after-image:checked,
.selected-image,
.activated-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button:hover,
.check-label .custom:hover,
.radio-label .custom:hover,
.input:hover,
.onhover:hover,
.hover{
  background-image: $dark-hover-overlay-image;
}

.button:focus,
.check-label .custom:focus,
.radio-label .custom:focus,
.input:focus,
.onfocus:focus,
.focused{
  background-image: $dark-focus-overlay-image;
}

.button:active,
.check-label .custom:active,
.radio-label .custom:active,
.input:active,
.onpress:active,
.pressed{
  background-image: $dark-pressed-overlay-image;
}

.activated{
  background-image: $dark-activated-overlay-image;
}

.check-label input:checked ~ .custom,
.radio-label input:checked ~ .custom,
.onselect:checked,
.onselect\:after:checked ~ *,
.selected {
  background-image: $dark-selected-overlay-image;
}

.onhover-dark:hover,
.hover-dark{
  background-image: $light-hover-overlay-image;
}

.onfocus-dark:focus,
.focused-dark{
  background-image: $light-focus-overlay-image;
}

.onpress-dark:active,
.pressed-dark{
  background-image: $light-pressed-overlay-image;
}

.activated-dark{
  background-image: $light-activated-overlay-image;
}

.onselect-dark:checked,
.onselect\:after-dark:checked ~ *,
.selected-dark {
  background-image: $light-selected-overlay-image;
}

.onhover-image:hover,
.hover-image{
  background-image: $image-hover-overlay-image;
}

.onfocus-image:focus,
.focused-image{
  background-image: $image-focus-overlay-image;
}

.onpress-image:active,
.pressed-image{
  background-image: $image-pressed-overlay-image;
}

.activated-image{
  background-image: $image-activated-overlay-image;
}

.onselect-image:checked,
.onselect\:after-image:checked ~ *,
.selected-image {
  background-image: $image-selected-overlay-image;
}
