$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "box-sizing": (
      responsive: true,
      property: box-sizing,
      class: box,
      values: (
        border: border-box,
        content: content-box,
      )
    ),
    "display": (
      responsive: true,
      property: display,
      class: null,
      values: inline inline-block block grid table table-row table-caption table-cell table-raw table-column table-column-group table-footer-group table-raw-group flex inline-flex flow-root grid inline-grid contents none
    ),
    "float": (
      responsive: true,
      property: float,
      values: (
        start: left,
        end: right,
        none: none,
      )
    ),
    "clear": (
      responsive: true,
      property: clear,
      values: left right both none
    ),
    "object-fit": (
      responsive: true,
      property: object-fit,
      class: object,
      values: contain cover fill none scale-down
    ),
    "object-position": (
      responsive: true,
      property: object-position,
      class: object,
      values: bottom center left left-bottom left-top right right-bottom right-top top
    ),
    "overflow": (
      responsive: true,
      property: overflow,
      values: auto hidden visible scroll
    ),
    "overflow-x": (
      responsive: true,
      property: overflow-x,
      values: auto hidden visible scroll
    ),
    "overflow-y": (
      responsive: true,
      property: overflow-y,
      values: auto hidden visible scroll
    ),
    "overscroll-behavior": (
      responsive: true,
      property: overscroll-behavior,
      class: overscroll,
      values: auto contain none
    ),
    "overscroll-behavior-x": (
      responsive: true,
      property: overscroll-behavior-x,
      class: overscroll-x,
      values: auto contain none
    ),
    "overscroll-behavior-y": (
      responsive: true,
      property: overscroll-behavior-y,
      class: overscroll-y,
      values: auto contain none
    ),
    "position": (
      responsive: true,
      property: position,
      values: static relative absolute fixed sticky
    ),
    "top": (
      responsive: true,
      property: top,
      values: $position-values
    ),
    "bottom": (
      responsive: true,
      property: bottom,
      values: $position-values
    ),
    "start": (
      responsive: true,
      property: left,
      class: start,
      values: $position-values
    ),
    "end": (
      responsive: true,
      property: right,
      class: end,
      values: $position-values
    ),
    "visibility": (
      resonsive: true,
      property: visibility,
      class: null,
      values: invisible visible
    ),
    "z-index": (
      property: z-index,
      resonsive: true,
      class: z,
      values: 0 10 20 30 40 50 auto
    ),
    "flex-direction": (
      property: flex-direction,
      class: flex,
      resonsive: true,
      values: (
        row: row, 
        row-reverse: row-reverse,
        col: column,
        col-reverse: column-reverse,
      )
    ),
    "flex-wrap": (
      property: flex-wrap,
      class: flex,
      resonsive: true,
      values: wrap wrap-reverse nowrap
    ),
    "flex": (
      property: flex,
      class: flex,
      resonsive: true,
      values: (
        1: "1 1 0%", 
        auto: "1 1 auto",
        initial: "0 1 auto",
        none: none,
      )
    ),
    "flex-grow": (
      property: flex-grow,
      class: flex,
      resonsive: true,
      values: (
        grow-0: 0, 
        grow: 1,
      )
    ),
    "flex-shrink": (
      property: flex-shrink,
      class: flex,
      resonsive: true,
      values: (
        shrink-0: 0, 
        shrink: 1,
      )
    ),
    "order": (
      property: order,
      class: order,
      resonsive: true,
      values: (
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        7: 7,
        8: 8,
        9: 9,
        10: 10,
        11: 11,
        12: 12,
        first: -9999,
        last: 9999,
        none: 0,
      )
    ),
  ),
  $utilities
);
