$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    // Layout
    "box-sizing": (
      responsive: true,
      property: box-sizing,
      class: box,
      values: (
        border: border-box,
        content: content-box,
      )
    ),
    "display": (
      responsive: true,
      property: display,
      class: null,
      values: inline inline-block block grid table table-row table-caption table-cell table-raw table-column table-column-group table-footer-group table-raw-group flex inline-flex flow-root grid inline-grid contents none
    ),
    "float": (
      responsive: true,
      property: float,
      values: (
        start: left,
        end: right,
        none: none,
      )
    ),
    "clear": (
      responsive: true,
      property: clear,
      values: left right both none
    ),
    "object-fit": (
      responsive: true,
      property: object-fit,
      class: object,
      values: contain cover fill none scale-down
    ),
    "object-position": (
      responsive: true,
      property: object-position,
      class: object,
      values: bottom center left left-bottom left-top right right-bottom right-top top
    ),
    "overflow": (
      responsive: true,
      property: overflow,
      values: auto hidden visible scroll
    ),
    "overflow-x": (
      responsive: true,
      property: overflow-x,
      values: auto hidden visible scroll
    ),
    "overflow-y": (
      responsive: true,
      property: overflow-y,
      values: auto hidden visible scroll
    ),
    "overscroll-behavior": (
      responsive: true,
      property: overscroll-behavior,
      class: overscroll,
      values: auto contain none
    ),
    "overscroll-behavior-x": (
      responsive: true,
      property: overscroll-behavior-x,
      class: overscroll-x,
      values: auto contain none
    ),
    "overscroll-behavior-y": (
      responsive: true,
      property: overscroll-behavior-y,
      class: overscroll-y,
      values: auto contain none
    ),
    "position": (
      responsive: true,
      property: position,
      values: static relative absolute fixed sticky
    ),
    "top": (
      responsive: true,
      property: top,
      values: $position-values
    ),
    "bottom": (
      responsive: true,
      property: bottom,
      values: $position-values
    ),
    "start": (
      responsive: true,
      property: left,
      class: start,
      values: $position-values
    ),
    "end": (
      responsive: true,
      property: right,
      class: end,
      values: $position-values
    ),
    "visibility": (
      resonsive: true,
      property: visibility,
      class: null,
      values: invisible visible
    ),
    "z-index": (
      property: z-index,
      resonsive: true,
      class: z,
      values: 0 10 20 30 40 50 auto
    ),
    // Flexbox
    "flex-direction": (
      property: flex-direction,
      class: flex,
      resonsive: true,
      values: (
        row: row, 
        row-reverse: row-reverse,
        col: column,
        col-reverse: column-reverse,
      )
    ),
    "flex-wrap": (
      property: flex-wrap,
      class: flex,
      resonsive: true,
      values: wrap wrap-reverse nowrap
    ),
    "flex": (
      property: flex,
      class: flex,
      resonsive: true,
      values: (
        1: "1 1 0%", 
        auto: "1 1 auto",
        initial: "0 1 auto",
        none: none,
      )
    ),
    "flex-grow": (
      property: flex-grow,
      class: flex,
      resonsive: true,
      values: (
        grow-0: 0, 
        grow: 1,
      )
    ),
    "flex-shrink": (
      property: flex-shrink,
      class: flex,
      resonsive: true,
      values: (
        shrink-0: 0, 
        shrink: 1,
      )
    ),
    "order": (
      property: order,
      class: order,
      resonsive: true,
      values: (
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        7: 7,
        8: 8,
        9: 9,
        10: 10,
        11: 11,
        12: 12,
        first: -9999,
        last: 9999,
        none: 0,
      )
    ),
    // Grid
    "grid-template-columns": (
      property: grid-template-columns,
      class: grid-cols,
      resonsive: true,
      values: (
        none: 'none',
        1: 'repeat(1, minmax(0, 1fr))',
        2: 'repeat(2, minmax(0, 1fr))',
        3: 'repeat(3, minmax(0, 1fr))',
        4: 'repeat(4, minmax(0, 1fr))',
        5: 'repeat(5, minmax(0, 1fr))',
        6: 'repeat(6, minmax(0, 1fr))',
        7: 'repeat(7, minmax(0, 1fr))',
        8: 'repeat(8, minmax(0, 1fr))',
        9: 'repeat(9, minmax(0, 1fr))',
        10: 'repeat(10, minmax(0, 1fr))',
        11: 'repeat(11, minmax(0, 1fr))',
        12: 'repeat(12, minmax(0, 1fr))',
      )
    ),
    "grid-template-rows": (
      property: grid-template-rows,
      class: grid-rows,
      resonsive: true,
      values: (
        none: 'none',
        1: 'repeat(1, minmax(0, 1fr))',
        2: 'repeat(2, minmax(0, 1fr))',
        3: 'repeat(3, minmax(0, 1fr))',
        4: 'repeat(4, minmax(0, 1fr))',
        5: 'repeat(5, minmax(0, 1fr))',
        6: 'repeat(6, minmax(0, 1fr))',
      )
    ),
    "grid-column-start": (
      property: grid-column-start,
      class: grid-col-start,
      resonsive: true,
      values: 1 2 3 4 5 6 7 8 9 10 11 12 auto,
    ),
    "grid-column-end": (
      property: grid-column-end,
      class: grid-col-end,
      resonsive: true,
      values: 1 2 3 4 5 6 7 8 9 10 11 12 auto,
    ),
    "grid-row-start": (
      property: grid-row-start,
      class: grid-row-start,
      resonsive: true,
      values: 1 2 3 4 5 6 7 auto,
    ),
    "grid-row-end": (
      property: grid-row-end,
      class: grid-row-end,
      resonsive: true,
      values: 1 2 3 4 5 6 7 auto,
    ),
    "grid-column": (
      property: grid-column,
      class: grid-col,
      resonsive: true,
      values: (
        auto: 'auto',
        'span-1': 'span 1 / span 1',
        'span-2': 'span 2 / span 2',
        'span-3': 'span 3 / span 3',
        'span-4': 'span 4 / span 4',
        'span-5': 'span 5 / span 5',
        'span-6': 'span 6 / span 6',
        'span-7': 'span 7 / span 7',
        'span-8': 'span 8 / span 8',
        'span-9': 'span 9 / span 9',
        'span-10': 'span 10 / span 10',
        'span-11': 'span 11 / span 11',
        'span-12': 'span 12 / span 12',
        'span-full': '1 / -1',
      )
    ),
    "grid-row": (
      property: grid-row,
      class: grid-row,
      resonsive: true,
      values: (
        auto: 'auto',
        'span-1': 'span 1 / span 1',
        'span-2': 'span 2 / span 2',
        'span-3': 'span 3 / span 3',
        'span-4': 'span 4 / span 4',
        'span-5': 'span 5 / span 5',
        'span-6': 'span 6 / span 6',
        'span-full': '1 / -1',
      )
    ),
    "grid-auto-flow": (
      property: grid-auto-flow,
      class: grid-flow,
      resonsive: true,
      values: (
        row: 'row',
        col: 'column',
        row-dense: 'row dense',
        col-dense: 'column dense',
      )
    ),
    "grid-auto-columns": (
      property: grid-auto-columns,
      class: auto-cols,
      resonsive: true,
      values: (
        auto: 'auto',
        min: 'min-content',
        max: 'max-content',
        fr: 'minmax(0, 1fr)',
      )
    ),
    "grid-auto-rows": (
      property: grid-auto-rows,
      class: auto-rows,
      resonsive: true,
      values: (
        auto: 'auto',
        min: 'min-content',
        max: 'max-content',
        fr: 'minmax(0, 1fr)',
      )
    ),
    "gap": (
      property: gap,
      class: gap,
      resonsive: true,
      values: (
        0: 0px,
        "0.5": "0.125rem",
        "1": "0.25rem",
        "1.5": "0.375rem",
        "2": "0.5rem",
        "2.5": "0.625rem",
        "3": "0.75rem",
        "3.5": "0.875rem",
        "4": "1rem",
        "5": "1.25rem",
        "6": "1.5rem",
        "7": "1.75rem",
        "8": "2rem",
        "9": "2.25rem",
        "10": "2.5rem",
        "11": "2.75rem",
        "12": "3rem",
        "14": "3.5rem",
        "16": "4rem",
        "20": "5rem",
        "24": "6rem",
        "28": "7rem",
        "32": "8rem",
        "36": "9rem",
        "40": "10rem",
        "44": "11rem",
        "48": "12rem",
        "52": "13rem",
        "56": "14rem",
        "60": "15rem",
        "64": "16rem",
        "72": "18rem",
        "80": "20rem",
        "96": "24rem",
        px: 1px,
      )
    ),
    "gap-x": (
      property: column-gap,
      class: gap-x,
      resonsive: true,
      values: (
        0: 0px,
        "0.5": "0.125rem",
        "1": "0.25rem",
        "1.5": "0.375rem",
        "2": "0.5rem",
        "2.5": "0.625rem",
        "3": "0.75rem",
        "3.5": "0.875rem",
        "4": "1rem",
        "5": "1.25rem",
        "6": "1.5rem",
        "7": "1.75rem",
        "8": "2rem",
        "9": "2.25rem",
        "10": "2.5rem",
        "11": "2.75rem",
        "12": "3rem",
        "14": "3.5rem",
        "16": "4rem",
        "20": "5rem",
        "24": "6rem",
        "28": "7rem",
        "32": "8rem",
        "36": "9rem",
        "40": "10rem",
        "44": "11rem",
        "48": "12rem",
        "52": "13rem",
        "56": "14rem",
        "60": "15rem",
        "64": "16rem",
        "72": "18rem",
        "80": "20rem",
        "96": "24rem",
        px: 1px,
      )
    ),
    "gap-y": (
      property: row-gap,
      class: gap-y,
      resonsive: true,
      values: (
        0: 0px,
        "0.5": "0.125rem",
        "1": "0.25rem",
        "1.5": "0.375rem",
        "2": "0.5rem",
        "2.5": "0.625rem",
        "3": "0.75rem",
        "3.5": "0.875rem",
        "4": "1rem",
        "5": "1.25rem",
        "6": "1.5rem",
        "7": "1.75rem",
        "8": "2rem",
        "9": "2.25rem",
        "10": "2.5rem",
        "11": "2.75rem",
        "12": "3rem",
        "14": "3.5rem",
        "16": "4rem",
        "20": "5rem",
        "24": "6rem",
        "28": "7rem",
        "32": "8rem",
        "36": "9rem",
        "40": "10rem",
        "44": "11rem",
        "48": "12rem",
        "52": "13rem",
        "56": "14rem",
        "60": "15rem",
        "64": "16rem",
        "72": "18rem",
        "80": "20rem",
        "96": "24rem",
        px: 1px,
      )
    ),
    "justify-content": (
      property: justify-content,
      class: justify,
      resonsive: true,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      )
    ),
  ),
  $utilities
);
