$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
  
    // Layout
    "box-sizing": (
      responsive: true,
      includes: (
        box-sizing: border-box content-box,
      ),
      class: box,
      keys: border content,
    ),
    "display": (
      responsive: true,
      includes: (
        display: inline inline-block block grid table table-row table-caption table-cell table-raw table-column table-column-group table-footer-group table-raw-group flex inline-flex flow-root grid inline-grid contents none,
      ),
      class: null,
      keys: inline inline-block block grid table table-row table-caption table-cell table-raw table-column table-column-group table-footer-group table-raw-group flex inline-flex flow-root grid inline-grid contents none,
    ),
    "float": (
      responsive: true,
      includes: (
        float: left right none,
      ),
      class: float,
      keys: left right none,
    ),
    "clear": (
      responsive: true,
      includes: (
        float: left right both none,
      ),
      class: clear,
      keys: left right both none,
    ),
    "object-fit": (
      responsive: true,
      includes: (
        object-fit: contain cover fill none scale-down,
      ),
      class: object,
      keys: contain cover fill none scale-down,
    ),
    "object-position": (
      responsive: true,
      includes: (
        object-position: map-values($object-position),
      ),
      class: object,
      keys: map-keys($object-position),
    ),
    "overflow": (
      responsive: true,
      includes: (
        overflow: auto hidden visible scroll,
      ),
      class: overflow,
      keys: auto hidden visible scroll,
    ),
    "overflow-x": (
      responsive: true,
      includes: (
        overflow-x: auto hidden visible scroll,
      ),
      class: overflow-x,
      keys: auto hidden visible scroll,
    ),
    "overflow-y": (
      responsive: true,
      includes: (
        overflow-y: auto hidden visible scroll,
      ),
      class: overflow-y,
      keys: auto hidden visible scroll,
    ),
    "overscroll-behavior": (
      responsive: true,
      includes: (
        overscroll-behavior: auto contain none,
      ),
      class: overscroll,
      keys: auto contain none,
    ),
    "overscroll-behavior-x": (
      responsive: true,
      includes: (
        overscroll-behavior-x: auto contain none,
      ),
      class: overscroll-x,
      keys: auto contain none,
    ),
    "overscroll-behavior-y": (
      responsive: true,
      includes: (
        overscroll-behavior-y: auto contain none,
      ),
      class: overscroll-y,
      keys: auto contain none,
    ),
    "position": (
      responsive: true,
      includes: (
        position: static relative absolute fixed sticky,
      ),
      class: null,
      keys: static relative absolute fixed sticky,
    ),
    "top": (
      responsive: true,
      includes: (
        top: map-values($position-values),
      ),
      class: top,
      keys: map-keys($position-values),
    ),
    "bottom": (
      responsive: true,
      includes: (
        bottom: map-values($position-values),
      ),
      class: bottom,
      keys: map-keys($position-values),
    ),
    "left": (
      responsive: true,
      includes: (
        left: map-values($position-values),
      ),
      class: left,
      keys: map-keys($position-values),
    ),
    "right": (
      responsive: true,
      includes: (
        right: map-values($position-values),
      ),
      class: right,
      keys: map-keys($position-values),
    ),
    "inset": (
      responsive: true,
      includes: (
        top: map-values($position-values),
        bottom: map-values($position-values),
        left: map-values($position-values),
        right: map-values($position-values),
      ),
      class: inset,
      keys: map-keys($position-values),
    ),
    "inset-y": (
      responsive: true,
      includes: (
        top: map-values($position-values),
        bottom: map-values($position-values),
      ),
      class: inset-y,
      keys: map-keys($position-values),
    ),
    "inset-x": (
      responsive: true,
      includes: (
        left: map-values($position-values),
        right: map-values($position-values),
      ),
      class: inset-x,
      keys: map-keys($position-values),
    ),
    "visibility": (
      responsive: true,
      includes: (
        visibility: invisible visible,
      ),
      class: null,
      keys: invisible visible,
    ),
    "z-index": (
      responsive: true,
      includes: (
        z-index: map-values($z-index),
      ),
      class: z,
      keys: map-keys($z-index),
    ),
    
    // Flex
    "flex-direction": (
      responsive: true,
      includes: (
        flex-direction: row row-reverse column column-reverse,
      ),
      class: flex,
      keys: row row-reverse col col-reverse,
    ),
    "flex-wrap": (
      responsive: true,
      includes: (
        flex-wrap: wrap wrap-reverse nowrap,
      ),
      class: flex,
      keys: wrap wrap-reverse nowrap,
    ),
    "flex": (
      responsive: true,
      includes: (
        flex: map-values($flex),
      ),
      class: flex,
      keys: map-keys($flex),
    ),
    "flex-grow": (
      responsive: true,
      includes: (
        flex-grow: map-values($flex-grow),
      ),
      class: flex-grow,
      keys: map-keys($flex-grow),
    ),
    "flex-shrink": (
      responsive: true,
      includes: (
        flex-shrink: map-values($flex-shrink),
      ),
      class: flex-shrink,
      keys: map-keys($flex-shrink),
    ),
    "order": (
      responsive: true,
      includes: (
        order: map-values($order),
      ),
      class: order,
      keys: map-keys($order),
    ),

    // Grid
    "grid-template-columns": (
      responsive: true,
      includes: (
        grid-template-columns: map-values($grid-template-columns),
      ),
      class: grid-cols,
      keys: map-keys($grid-template-columns),
    ),
    "grid-column": (
      responsive: true,
      includes: (
        grid-column: map-values($grid-column),
      ),
      class: grid-col-span,
      keys: map-keys($grid-column),
    ),
    "grid-column-start": (
      responsive: true,
      includes: (
        grid-column-start: map-values($grid-column-start),
      ),
      class: grid-col-start,
      keys: map-keys($grid-column-start),
    ),
    "grid-column-end": (
      responsive: true,
      includes: (
        grid-column-end: map-values($grid-column-end),
      ),
      class: grid-col-end,
      keys: map-keys($grid-column-end),
    ),
    "grid-template-rows": (
      responsive: true,
      includes: (
        grid-template-rows: map-values($grid-template-rows),
      ),
      class: grid-rows,
      keys: map-keys($grid-template-rows),
    ),
    "grid-row": (
      responsive: true,
      includes: (
        grid-row: map-values($grid-row),
      ),
      class: grid-row-span,
      keys: map-keys($grid-row),
    ),
    "grid-row-start": (
      responsive: true,
      includes: (
        grid-row-start: map-values($grid-row-start),
      ),
      class: grid-row-start,
      keys: map-keys($grid-row-start),
    ),
    "grid-row-end": (
      responsive: true,
      includes: (
        grid-row-end: map-values($grid-row-end),
      ),
      class: grid-row-end,
      keys: map-keys($grid-row-end),
    ),
    "grid-auto-columns": (
      responsive: true,
      includes: (
        grid-auto-columns: map-values($grid-auto-columns),
      ),
      class: auto-cols,
      keys: map-keys($grid-auto-columns),
    ),
    "grid-auto-rows": (
      responsive: true,
      includes: (
        grid-auto-rows: map-values($grid-auto-rows),
      ),
      class: auto-rows,
      keys: map-keys($grid-auto-rows),
    ),
    "grid-auto-flow": (
      responsive: true,
      includes: (
        grid-auto-flow: row col "row dense" "col dense",
      ),
      class: grid-flow,
      keys: row col row-dense col-dense,
    ),
    "gap": (
      responsive: true,
      includes: (
        gap: map-values($gap),
      ),
      class: gap,
      keys: map-keys($gap),
    ),
    "col-gap": (
      responsive: true,
      includes: (
        column-gap: map-values($gap),
      ),
      class: col-gap,
      keys: map-keys($gap),
    ),
    "raw-gap": (
      responsive: true,
      includes: (
        raw-gap: map-values($gap),
      ),
      class: raw-gap,
      keys: map-keys($gap),
    ),

    // Box Alignment
    "justify-content": (
      responsive: true,
      includes: (
        justify-content: flex-start flex-end center space-between space-around space-evenly,
      ),
      class: justify,
      keys: start end center between around evenly,
    ),
    "justify-items": (
      responsive: true,
      includes: (
        justify-items: auto start end center stretch,
      ),
      class: justify-items,
      keys: auto start end center stretch,
    ),
    "justify-self": (
      responsive: true,
      includes: (
        justify-self: auto start end center stretch,
      ),
      class: justify-self,
      keys: auto start end center stretch,
    ),
    "align-content": (
      responsive: true,
      includes: (
        align-content: flex-start flex-end center space-between space-around space-evenly,
      ),
      class: content,
      keys: start end center between around evenly,
    ),
    "align-items": (
      responsive: true,
      includes: (
        align-items: flex-start flex-end center baseline stretch,
      ),
      class: items,
      keys: start end center baseline stretch,
    ),
    "place-content": (
      responsive: true,
      includes: (
        place-content: start end center space-between space-around space-evenly stretch,
      ),
      class: place-content,
      keys: start end center between around evenly stretch,
    ),
    "place-items": (
      responsive: true,
      includes: (
        place-items: auto start end center stretch,
      ),
      class: place-items,
      keys: auto start end center stretch,
    ),
    "place-self": (
      responsive: true,
      includes: (
        place-self: auto start end center stretch,
      ),
      class: place-self,
      keys: auto start end center stretch,
    ),
    
    // Spacing
    
    "padding": (
      responsive: true,
      includes: (
        padding: map-values($padding),
      ),
      class: p,
      keys: map-keys($padding),
    ),
    "padding-y": (
      responsive: true,
      includes: (
        padding-top: map-values($padding),
        padding-bottom: map-values($padding),
      ),
      class: py,
      keys: map-keys($padding),
    ),
    "padding-x": (
      responsive: true,
      includes: (
        padding-left: map-values($padding),
        padding-right: map-values($padding),
      ),
      class: px,
      keys: map-keys($padding),
    ),
    "padding-top": (
      responsive: true,
      includes: (
        padding-top: map-values($padding),
      ),
      class: pt,
      keys: map-keys($padding),
    ),
    "padding-bottom": (
      responsive: true,
      includes: (
        padding-bottom: map-values($padding),
      ),
      class: pb,
      keys: map-keys($padding),
    ),
    "padding-left": (
      responsive: true,
      includes: (
        padding-left: map-values($padding),
      ),
      class: pl,
      keys: map-keys($padding),
    ),
    "padding-right": (
      responsive: true,
      includes: (
        padding-right: map-values($padding),
      ),
      class: pr,
      keys: map-keys($padding),
    ),
    "margin": (
      responsive: true,
      includes: (
        margin: map-values($margin),
      ),
      class: m,
      keys: map-keys($margin),
    ),
    "margin-y": (
      responsive: true,
      includes: (
        margin-top: map-values($margin),
        margin-bottom: map-values($margin),
      ),
      class: my,
      keys: map-keys($margin),
    ),
    "margin-x": (
      responsive: true,
      includes: (
        margin-left: map-values($margin),
        margin-right: map-values($margin),
      ),
      class: mx,
      keys: map-keys($margin),
    ),
    "margin-top": (
      responsive: true,
      includes: (
        margin-top: map-values($margin),
      ),
      class: mt,
      keys: map-keys($margin),
    ),
    "margin-bottom": (
      responsive: true,
      includes: (
        margin-bottom: map-values($margin),
      ),
      class: mb,
      keys: map-keys($margin),
    ),
    "margin-left": (
      responsive: true,
      includes: (
        margin-left: map-values($margin),
      ),
      class: ml,
      keys: map-keys($margin),
    ),
    "margin-right": (
      responsive: true,
      includes: (
        margin-right: map-values($margin),
      ),
      class: mr,
      keys: map-keys($margin),
    ),
    // TODO: space-between utilities

    // Sizing

    "width": (
      responsive: true,
      includes: (
        width: map-values($width),
      ),
      class: w,
      keys: map-keys($width),
    ),
    "min-width": (
      responsive: true,
      includes: (
        min-width: map-values($min-width),
      ),
      class: min-w,
      keys: map-keys($min-width),
    ),
    "max-width": (
      responsive: true,
      includes: (
        max-width: map-values($max-width),
      ),
      class: max-w,
      keys: map-keys($max-width),
    ),
    "height": (
      responsive: true,
      includes: (
        height: map-values($height),
      ),
      class: h,
      keys: map-keys($height),
    ),
    "min-height": (
      responsive: true,
      includes: (
        min-height: map-values($min-height),
      ),
      class: min-h,
      keys: map-keys($min-height),
    ),
    "max-height": (
      responsive: true,
      includes: (
        max-height: map-values($max-height),
      ),
      class: max-h,
      keys: map-keys($max-height),
    ),

    // Typography
    "font-family": (
      responsive: true,
      includes: (
        font-family: map-values($font-family),
      ),
      class: font,
      keys: map-keys($font-family),
    ),
    "font-size": (
      responsive: true,
      includes: (
        font-family: map-values($font-size),
        line-height: $font-line-height,
      ),
      class: font,
      keys: map-keys($font-size),
    ),
    "font-smoothing": (
      responsive: true,
      includes: (
        -webkit-font-smoothing: antialiased auto,
        -moz-osx-font-smoothing: grayscale auto,
      ),
      class: null,
      keys: antialiased subpixel-antialiased,
    ),
    "font-style": (
      responsive: true,
      includes: (
        font-style: italic normal,
      ),
      class: null,
      keys: italic non-italic,
    ),
    "font-weight": (
      responsive: true,
      includes: (
        font-weight: map-values($font-weight),
      ),
      class: font,
      keys: map-keys($font-weight),
    ),
    "font-variant-numeric": (
      responsive: true,
      includes: (
        font-variant-numeric: normal-nums ordinal slashed-zero lining-nums oldstyle-nums proportional-nums tabular-nums diagonal-fractions stacked-fractions,
      ),
      class: font,
      keys: normal ordinal slashed-zero lining-nums oldstyle-nums proportional-nums tabular-nums diagonal-fractions stacked-fractions,
    ),
    "letter-spacing": (
      responsive: true,
      includes: (
        letter-spacing: map-values($letter-spacing),
      ),
      class: tracking,
      keys: map-keys($letter-spacing),
    ),
    "line-height": (
      responsive: true,
      includes: (
        letter-spacing: map-values($line-height),
      ),
      class: leading,
      keys: map-keys($line-height),
    ),
    "list-style-type": (
      responsive: true,
      includes: (
        list-style-type: none disc demical,
      ),
      class: list,
      keys: none disc demical,
    ),
    "list-style-position": (
      responsive: true,
      includes: (
        list-style-position: inside outside,
      ),
      class: list,
      keys: inside outside,
    ),
    // TODO: placeholder color
    // TODO: placeholder opacity
    "text-align": (
      responsive: true,
      includes: (
        text-align: left center right justify,
      ),
      class: text,
      keys: left center right justify,
    ),
    "color": (
      responsive: true,
      includes: (
        color: map-values($colors),
      ),
      class: color,
      keys: map-keys($colors),
    ),
    "text-decoration": (
      responsive: true,
      includes: (
        text-decoration: underline line-through none,
      ),
      class: null,
      keys: underline line-through no-underline,
    ),
    "text-transform": (
      responsive: true,
      includes: (
        text-transform: uppercase lowercase capitalize none,
      ),
      class: null,
      keys: uppercase lowercase capitalize normalcase,
    ),
    "text-overflow": (
      responsive: true,
      includes: (
        text-overflow: ellipsis clip,
      ),
      class: overflow,
      keys: ellipsis clip,
    ),
    "vertical-align": (
      responsive: true,
      includes: (
        vertical-align: baseline top middle bottom text-top text-bottom,
      ),
      class: align,
      keys: baseline top middle bottom text-top text-bottom,
    ),
    "whitespace": (
      responsive: true,
      includes: (
        whitespace: normal nowrap pre pre-line pre-wrap,
      ),
      class: whitespace,
      keys: normal nowrap pre preline prewrap,
    ),
    "word-break": (
      responsive: true,
      includes: (
        word-break: normal break-word break-all,
      ),
      class: break,
      keys: normal words all,
    ),

  ),
  $utilities
);
