$breakpoints: (
  base: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
$enable-grid-classes: true;
$columns: 12 !default;
$gutter-width: 1.5rem !default;
$row-columns: 6 !default;

$gutter: 1rem !default;
$gutters: (
  0: 0,
  1: $gutter / 4,
  2: $gutter / 2,
  3: $gutter,
  4: $gutter * 1.5,
  5: $gutter * 3,
) !default;
